.App {
  text-align: center;
  margin-top: 2rem;
}

.upload-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

textarea {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.3rem 0.7rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

